
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.tecnologia {

    padding: 0 15px; 

    text-align: center;
  }
  
  .heading  {
    background-color: #4baef2;
    font-size: 40px;
    min-height: 200px;
    text-align: center;
    margin-top: 0%;
    color: #ffffff;
    padding: 1rem;
  
    

 
  }
  
  .chatbot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .chatbot img {
    width: 500px;
    height: 500px;
    border-radius: 50%;

    margin-right: 17rem;
  }
  
  .chatbot-info {
    text-align: left;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .chatbot-info h3 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .chatbot-info p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .casos-uso {
    padding: 40px;
    text-align: center;
    background-color: #4baef2;
  }
  
  .casos-uso h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 40px;
  }
  
  .caso-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    background-color: #4baef2;
  }
  
  .caso {
    background-color: #4baef2;
    padding: 30px;
    border-radius: 8px;

  }
  
  .caso img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 70%;
  }
  
  .caso p:first-of-type {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .caso p:last-of-type {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
  }

  .equipo {
    width: 400px;
    margin: 0 auto;
    

  }
  
  .equipo h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .logo {
    text-align: center;

    justify-content: center;
  }
  
  .logo h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 0;
  }
  
  .logo p {
    margin-top: 0;
  }
  
  .logo img {
    width: 300px;
    height: 300px;
    
  }
  
  .equipo p {
    text-align: center;
  }