{% extends 'home/home.html' %}

{% load static %}

{% block title %}
<title>About Us - Your Website Name</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extra_css %}

{% block content %}
<!-- Main Content Section -->
<main>
    <section class="about-us">
        <div class="about-us-content">
            <h1><span class="blue">¿Quiénes</span> somos?</h1>
            <p>AletheIA Solutions, inspirada en la palabra griega que significa verdad y búsqueda del conocimiento, es una empresa vanguardista fundada en 2023 por un grupo visionario de entusiastas universitarios dedicados a las ciencias matemáticas. Nos especializamos en integrar la inteligencia artificial para impulsar el crecimiento y la innovación en las pequeñas y medianas empresas (PYMES) en México, un mercado con un potencial transformador aún por descubrir. Nuestra ambición es ser un faro de progreso, utilizando la tecnología como un puente hacia el éxito empresarial
            </p>

        </div>
        <div class="about-us-image">
            <img src="{% static 'images/info.webp' %}" alt="About Image">
        </div>
    </section>
    <section>
        <div class="city-image">
            <img src="{% static 'images/edificios.webp' %}" alt="city">
        </div>
    </section>
    <section class="mision-vision">
        <div class="mision">
          <h3>Nuestra <span class="blue">misión</span></h3>
          <p>Estamos comprometidos a transformar el panorama de las PYMES en México mediante la integración de soluciones tecnológicas avanzadas, enfocadas en optimizar procesos, mejorar la eficiencia y fomentar el crecimiento sostenible en la era digital. Nuestra misión se centra en empoderar a las empresas con herramientas y servicios basados en IA, abriendo nuevas vías para la innovación y la competitividad.</p>
        </div>
        <div class="vision">
          <h3>Nuestra <span class="blue">visión</span></h3>
          <p>Nuestra visión es liderar un nuevo paradigma en el sector empresarial mexicano, en el cual las PYMES no solo adopten, sino que lideren en la economía digital global gracias a la inteligencia artificial y los avances digitales. Aspiramos a crear un ecosistema donde la tecnología sea accesible para todos, impulsando a las empresas hacia un futuro pleno de innovación y el conocimiento sean las claves del éxito.</p>
        </div>
      </section>

      <section class="equipo">
    
       <div class="equipo-ai">
          <h2>El equipo <span class="blue">AletheIA</span></h2>
          <p>Nuestro equipo está compuesto por profesionales apasionados, provenientes de diversas disciplinas dentro de las ciencias matemáticas, que comparten una visión común: democratizar la tecnología y la inteligencia artificial en México. Unidos por nuestro compromiso con el conocimiento y la innovación, trabajamos colaborativamente para desarrollar soluciones que no solo enfrenten los desafíos actuales de nuestras empresas cliente, sino que también anticipen las necesidades del futuro, asegurando que las PYMES mexicanas estén preparadas para prosperar en un mercado global cada vez más competitivo.</p>
          
       </div>
       <div class="miembros">
          <div class="miembro">
            <img src="{% static 'images/info.webp' %}" alt="El Sup">
            <h4>El Sup</h4>
            
          </div>
          <div class="miembro">
            <img src="{% static 'images/info.webp' %}" alt="Chú Chin">
            <h4>Chú Chin</h4>
        
          </div>
          <div class="miembro">
            <img src="{% static 'images/info.webp' %}" alt="Jerricky Smith">
            <h4>Jerricky Smith</h4>
        
          </div>
          <div class="miembro">
            <img src="{% static 'images/info.webp' %}" alt="Loki Solis">
            <h4>Loki Solis</h4>
        
          </div>
        </div>
      </section>
      


</main>
{% endblock content %}
