{% extends 'home/home.html' %}

{% load static %}

{% block title %}
<title>Contact Us - Your Website Name</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extra_css %}

{% block content %}
<!-- Main Content Section -->
<main>
    <section class="about-us">
        <div class="about-us-content">
            <h1><span class="blue">Contáctanos</span></h1>
            <p>En AletheIA Solutions, estamos emocionados de escuchar tus ideas y discutir cómo nuestra tecnología puede impulsar tu negocio. Para consultas, colaboraciones o más información sobre nuestras soluciones innovadoras, no dudes en contactarnos. Juntos, podemos transformar el futuro de tu empresa.
            </p>

        </div>
        <div class="about-us-image">
            <img src="{% static 'images/robot5.webp' %}" alt="About Image">
        </div>
    </section>
</main>
{% endblock content %}

