{% extends 'home/home.html' %}

{% load static %}

{% block title %}
<title>Services - Your Website Name</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock extra_css %}

{% block content %}
<!-- Main Content Section -->
<main>
    <section class="heading">
      <h2>Te mostramos como la tecnología puede impulsar tu negocio, empresa o institución</h2>
    </section>
    <section class="tecnologia">
        
        <div class="chatbot">
          
          <div class="chatbot-info">
            <h3><span class="blue">AletheIA</span> implementa el chatbot ideal para tu <span class="blue">empresa o institución</span></h3>
            <p>Una de las herramientas que ofrecemos para recopilar información son asistentes virtuales en WhatsApp. Si se desea recopilar información de comentarios de clientes para analizarlos, un chatbot es una excelente forma de hacerlo.</p>
            <p>Personalizamos el chatbot a la imagen de la empresa y con el flujo lógico específico de cada cliente para que el asistente virtual funcione como se desea
            </p>
          </div>
          <img src="{% static 'images/mai.webp' %}" alt="Chatbot">
        </div>
      </section>

      <section class="casos-uso">
        <h2>Casos de uso</h2>
        <div class="caso-grid">
          <div class="caso">
            <img src="{% static 'images/school.webp' %}" alt="Para la escuela o educación">
            <p>Para la escuela o educación</p>
            <p>Automatización de respuestas a preguntas frecuentes, buzón de comentarios y quejas, difusión de anuncios importantes a estudiantes y padres de familia.</p>
          </div>
          <div class="caso">
            <img src="{% static 'images/chef.webp' %}" alt="Para los restaurantes">
            <p>Para los restaurantes</p>
            <p>Atención de consultas sobre el menú, registro de comentarios, toma de quejas, aplicar encuestas de satisfacción del cliente, entre otras.</p>
          </div>
          <div class="caso">
            <img src="{% static 'images/mensaje.webp' %}" alt="Atención al cliente">
            <p>Atención al cliente</p>
            <p>Soporte 24/7 para resolver dudas, gestión de quejas y reclamaciones, y seguimiento de pedidos o servicios.</p>
          </div>
          <div class="caso">
            <img src="{% static 'images/poli.webp' %}" alt="Para la política">
            <p>Para la política</p>
            <p>Difusión de información sobre campañas, políticas, eventos. Recepción de opiniones, preguntas y propuestas ciudadana a través de encuestas personalizadas.</p>
          </div>
          <div class="caso">
            <img src="{% static 'images/mercado.webp' %}" alt="Para las ventas">
            <p>Para las ventas</p>
            <p>Aparador de productos, envío de ofertas y promociones. Información vital para un negocio de ventas.</p>
          </div>
          <div class="caso">
            <img src="{% static 'images/ask.webp' %}" alt="Para  consultas de tu empresa">
            <p>Para  consultas de tu empresa</p>
            <p>Podemos implementar un asistente que esté especializado en las diversas áreas de tu empresa, lo que permitiría resolver dudas sobre la misma.</p>
          </div>
        </div>
      </section>
      <section class="equipo">
        <h2>Se parte del equipo</h2>
        <div class="logo">
          <h3>LA CERVECERIA</h3>
          <p>DE BARRIO</p>
          <img src="{% static 'images/cerveceria.webp' %}" alt="Pig Icon">
        </div>
        <p>La cervecería del barrio ya trabaja con AlethelA, su chatbot le permite saber a sus proveedores si las facturas del mes ya han sido pagadas</p>
      </section>
</main>
{% endblock content %}
